.page-header
  %h1= t('.title')

= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name)) do |f|
  .form-group
    = f.input :email,
      autofocus: true,
      value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
  .form-group
    = f.submit t('.submit'), class: 'btn btn-primary'
= render 'devise/shared/links'
