.page-header
  %h1= t('.title')

= simple_form_for resource, as: resource_name, url: registration_path(resource_name) do |f|
  = render 'devise/shared/user_form_fields', form: f, user: resource
  .form-group
    = f.submit t('.submit'), class: 'btn btn-primary'
= render 'devise/shared/links'
