.comment-container
  = simple_form_for [@homework, Comment.new], remote: true do |f|
    .form-group
      = f.input :body,
        label: false
    .form-group
      = f.submit class: 'btn btn-primary'

