<% if @parent_comment %>
  $container = $(".comment-container[data-comment-id=<%= @parent_comment.id %>]");
  $container.find('.comment-reply-button').show();
  $replyFormContainer = $container.find('.reply-form-container');
  $replyFormContainer.hide();
  $replyFormContainer.find('form')[0].reset();
  $container = $container.children('.comments-list');
<% else  %>
  $('form.new_comment')[0].reset();
  $container = $('.comments-list-container');
<% end  %>
$container.append("<%= j render(@comment, level: @level) %>")
