<%= t('.body',
  user: @user.name,
  assigned_to: @assigned_to.name,
  homework: @homework.name,
  family: @family.name,
  link: user_homework_estimate_consider_url(@homework.user_homework, comment_id: @comment_id)
  ) %>
