<%= t('.body',
  user: @user.name,
  assigned_to: @assigned_to.name,
  homework: @homework.name,
  family: @family.name,
  comment: @comment.body,
  link: new_user_homework_request_answer(@homework.user_homework, comment_id: @comment.id)
  ) %>
