<%= t('.body',
  user: @user.name,
  assigned_by: @assigned_by.name,
  homework: @homework.name,
  family: @family.name,
  comment: @comment.body,
  estimate: @homework.user_homework.estimate,
  link: family_homework_url(@family, @homework)
  ) %>
