<%= t('.body',
  user: @user.name,
  assigned_by: @assigned_by.name,
  homework: @homework.name,
  family: @family.name,
  estimate: @homework.user_homework.estimate,
  comment: @comment.body,
  link: new_user_homework_estimate_url(@homework.user_homework)
  ) %>
