- if controller_name != 'sessions'
  %div= link_to t('.log_in'), new_session_path(resource_name)
- if devise_mapping.registerable? && controller_name != 'registrations'
  %div= link_to t('.sign_up'), new_registration_path(resource_name)
- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
  %div= link_to t('.new_password'), new_user_password_path
- if devise_mapping.confirmable? && controller_name != 'confirmations'
  %div= link_to t('.send_new_confirmation'), new_confirmation_path(resource_name)
