.form-group
  = users_avatar_img(user)
.form-group
  = form.file_field :avatar
.form-group
  = form.input :first_name
.form-group
  = form.input :last_name
.form-group
  = form.input :nickname
.form-group
  = form.input :email
.form-group
  = form.label :date_of_birth
  .input-group.date-of-birth-datepicker
    = form.input :date_of_birth, as: :string,
      label: false,
      wrapper: false
    %span.input-group-addon
      %span.glyphicon.glyphicon-calendar
.form-group
  = form.input :address
.form-grou
  = form.input :system_language,
    include_blank: false,
    collection: User.system_languages.keys
- if controller_name != 'users'
  .form-group
    = form.input :password, autocomplete: 'off'
  .form-group
    = form.input :password_confirmation, autocomplete: 'off'
