= simple_form_for(@user_homework, url: url, method: :post) do |f|
  .form-group
    = f.label :comment, t('.comment'), required: true, for: :comment
    = text_area_tag :comment, nil,
      placeholder: t('.comment'),
      class: 'form-control text',
      requited: true
  .form-group
    = f.submit
