.page-header
  %h1= t('.title')

- if @families.blank?
  %p= t('.have_no_families')
- else
  %table.table.table-hover
    %thead
      %tr
        %th= t('.name')
        %th= t('.homeworks')
        %th= t('.memebers_count')
        %th

    %tbody
      - @families.each do |family|
        %tr
          %td
            = family_logo_img(family)
            = family.name
          %td= link_to t('.homeworks'), family_homeworks_path(family)
          %td= family.family_users.count
          %td
            - if policy(family).show?
              = link_to t('general.show'), family
            - if policy(family).edit?
              \|
              = link_to t('general.edit'), edit_family_path(family)
            - if policy(family).destroy?
              \|
              = link_to t('general.destroy'), family,
                method: :delete, 'data-confirm': t('general.confirm')

- if policy(:family).create?
  = link_to t('.new'), new_family_path
