.page-header
  %h1= @family.name

%table.table.table-bordered.table-striped
  %tbody
    %tr
      %td= t('.logo')
      %td= family_logo_img(@family)
    %tr
      %td= t('.memebers_count')
      %td= @family.family_users.count
    %tr
      %td= link_to t('.homeworks_count'), family_homeworks_path(@family)
      %td= @family.homeworks.count

- @family_users.each do |role, family_users|
  %h4= t(".#{role}")
  %table.table.table-hover
    %thead
      %tr
        %th
        %th= t('.completed_homeworks_count')
        %th= t('.completed_homeworks_on_time_count')
        %th= t('.overdue_homeworks_count')
        %th= t('.rating')
        %th
    %tbody
      - family_users.each do |family_user|
        %tr
          %td
            = users_avatar_img(family_user.user.decorate)
            = family_user.user.decorate.name
          %td= family_user.user.completed_homeworks_count
          %td= family_user.user.completed_homeworks_on_time_count
          %td= family_user.user.overdue_homeworks_count
          %td= family_user.user.average_rating
          %td
            - if policy(@family).edit_user?(family_user.user)
              = link_to t('general.edit'), edit_family_user_path(@family, family_user.user)
              \|
            - if policy(family_user).edit?
              = link_to t('.edit_role'), edit_family_family_user_path(@family, family_user)
              \|
            - if policy(family_user).destroy?
              = link_to t('.delete'), family_family_user_path(@family, family_user),
                method: :delete, 'data-confirm': t('general.confirm')

- if policy(@family).create_family_user? && famy_user_users_options(@family).any?
  = link_to t('.new'), new_family_family_user_path(@family)
  \|

- if policy(@family).edit?
  = link_to t('general.edit'), edit_family_path(@family)
  \|
= link_to t('general.back'), families_path
