.page-header
  %h1= t('.title')

= simple_form_for @user, url: family_user_path(@family, @user) do |f|
  = render 'devise/shared/user_form_fields', form: f, user: @user
  .form-group
    = f.submit t('helpers.submit.update'), class: 'btn btn-primary'
    \|
    = link_to t('.cancle'), family_path(@family), class: 'btn btn-default'
