.page-header
  %h1= t('.title')

= simple_form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :put } do |f|
  = devise_error_messages!
  = f.hidden_field :reset_password_token
  .form-group
    = f.input :password, required: true, autofocus: true, autocomplete: :off
  .form-group
    = f.input :password_confirmation, required: true, autocomplete: :off
  .form-group
    = f.submit t('.submit'), class: 'btn btn-primary'

= render 'devise/shared/links'
