.page-header
  %h1= t('.title')

- @homeworks.each do |(family_id, family_name), data|
  %h3= family_name
  - data.each do |(category_id, category_name), homeworks|
    %h6= category_name
    %ul
      - homeworks.each do |homework|
        %li= link_to homework.name, family_homework_path(family_id, homework)

= link_to t('general.back'), root_path
