.page-header
  %h1= t('.title')

- flash.each do |key, value|
  - if value
    %div{class: "flash #{key}" }
      = value

= simple_form_for(resource, as: resource_name, url: session_path(resource_name), method: :post) do |f|
  .form-group
    = f.input :email, required: true
  .form-group
    = f.input :password
  .form-group
    = f.input :remember_me, as: :boolean
  .form-group
    = f.submit t('.submit'), class: 'btn btn-primary'
= render 'devise/shared/links'
