.family-blackboard
  - Homework.aasm.states.map(&:name).each do |state|
    .family-blackboard-item
      %h4= t("homeworks.states.#{state}")
      .homeworks-list-container
        - if state.eql?(Homework::STATE_OPENED)
          = render 'homeworks/list', homeworks: @homeworks[state.to_s].try(:[], nil)
          = render 'categories/list', categories: @categories.roots, state: state.to_s
        - else
          = render 'homeworks/list', homeworks: @homeworks[state.to_s]&.values&.flatten
        - if state.eql?(Homework::STATE_ASSIGNED)
          = render 'members'
