= simple_form_for([@family, @homework]) do |f|
  .form-group
    = f.input :category_id,
      as: :select,
      include_blank: true,
      collection: options_for_category_id(@family)
  .form-group
    = f.input :scope,
      as: :select,
      include_blank: false,
      collection: options_for_categories_scope
  .form-group
    = f.input :name
  .form-group
    = f.input :description
  .form-group
    = f.submit
