%table.table.table-bordered.table-striped
  %tbody
    %tr
      %td= t('.family')
      %td= @family.name
    %tr
      %td= t('.category')
      %td= @homework.category.name
    - if controller_name == 'homeworks'
      %tr
        %td= t('.state')
        %td= t("homeworks.states.#{@homework.state}")
      %tr
        %td= t('.scope')
        %td= @homework.scope
    %tr
      %td= t('.created_at')
      %td= @homework.created_at
    %tr
      %td= t('.created_by')
      %td= @homework.user.decorate.name
    %tr
      %td= t('.description')
      %td= @homework.description

    - if (controller_name == 'homeworks' && !@homework.opened?) || @homework.user_homework&.estimate?
      %tr
        %td= t('.assigned_to')
        %td= @homework.user_homework.user.decorate.name
      %tr
        %td= t('.estimate')
        %td= @homework.user_homework.estimate
    - if @comment
      %tr
        %td= t('.users_comment')
        %td= @comment.body
    - if @homework.user_homework && policy(@homework.user_homework).rate_user?
      %tr
        %td= t('.rating')
        %td= render 'rating'
