- if homeworks
  %ul.homeworks-container
    - homeworks.each do |homework|
      %li
        .homework-item.well.well-sm{draggable: policy(homework).assign?.to_s, data: { homework_id: homework.id, family_id: @family.id }}
          - if homework.user_homework
            = users_avatar_img(homework.user_homework.user)
          - if policy(homework).show?
            = link_to homework.name, family_homework_path(@family, homework), draggable: false
          - else
            = homework.name
          - if policy(homework).show?
            %span.dropdown
              %span.btn.btn-default.btn-xs.dropdown-toggle{id: "homework-menu-#{homework.id}",'aria-expanded': true, 'aria-haspopup': true, 'data-toggle': :dropdown, type: :button}
                .glyphicon.glyphicon-cog
              %ul.dropdown-menu{'aria-labelledby': "homework-menu-#{homework.id}"}
                - if policy(homework).move_to_opened?
                  %li= link_to t('.move_to_opened'),
                    family_homework_move_to_opened_path(@family, homework),
                    remote: true, 'data-confirm': t('general.confirm'), draggable: false
                - if policy(homework).pause?
                  %li= link_to t('.pause'),
                    new_user_homework_request_path(homework.user_homework),
                    'data-confirm': t('general.confirm'), draggable: false
                - if policy(homework).end?
                  %li= link_to t('.end'),
                    new_user_homework_request_end_path(homework.user_homework),
                    'data-confirm': t('general.confirm'), draggable: false
                - if policy(homework).show?
                  %li= link_to t('general.show'), family_homework_path(@family, homework),
                    draggable: false
                - if policy(homework).edit?
                  %li= link_to t('general.edit'),
                    edit_family_homework_path(@family, homework), draggable: false
                - if policy(homework).destroy?
                  %li= link_to t('general.delete'),
                    family_homework_path(@family, homework),
                    method: :delete, 'data-confirm': t('general.confirm'), draggable: false
