- if policy(@family).assign_homework?
  %ul.family-members-list
    - @family.users.decorate.each do |user|
      %li.family-members-item{data: { confimation_message: t('.confirm_to_assign', user_name: user.name) , user_id: user.id}}
        = users_avatar_img(user)
        = user.name
