.page-header
  %h1= t('.title', family_name: @family.name)

- if @categories.empty?
  %p= t('.have_no_categories')
- else
  = render 'blackboard'

- if policy(@family).create_category?
  = link_to t('.new_category'), new_family_category_path(@family)
  \|
- if policy(@family).create_homework?
  = link_to t('.new_homework'), new_family_homework_path(@family)
  \|
= link_to t('general.back'), families_path
