.page-header
  %h1= @homework.name

= render 'homework'

- if policy(@homework).edit?
  = link_to t('general.edit'), edit_family_homework_path(@family, @homework)
  \|
- if policy(@homework).estimate?
  = link_to t('general.estimate'), new_user_homework_estimate_path(@homework.user_homework)
  \|
= link_to t('general.back'), family_homeworks_path(@family)

%hr
%h4= t('.coments')
- if policy(@homework).create_comment?
  = render 'comments/form'
.comments-list-container
  = render 'comments/list', comments: @comments
