= simple_form_for(@user_homework,
  url: user_homework_request_answer_to_end_index_path(@user_homework),
  method: :post) do |f|

  .form-group
    = radio_button_tag :answer, 'apply'
    = label_tag :answer_apply, t('.apply')
  .form-group
    = radio_button_tag :answer, 'move_to_opened'
    = label_tag :answer_move_to_opened, t('.move_to_opened')
  .form-group
    = radio_button_tag :answer, 'reject'
    = label_tag :answer_reject, t('.reject')
  .form-group
    = f.label :comment, t('.comment'), required: true, for: :comment
    = text_area_tag :comment, nil,
      placeholder: t('.comment'),
      class: 'form-control text',
      requited: true
  .form-group
    = f.submit
