= simple_form_for([@family, @family_user]) do |f|
  - unless only_role
    .form-group
      = f.input :user_id,
        include_blank: false,
        collection: famy_user_users_options(@family)
  .form-group
    = f.input :role, include_blank: false, collection: famy_user_roles_options
  .form-group
    = f.submit
