.page-header
  %h1= t('.title', user_name: @family_user.user_name)

= render 'form', only_role: true

- if policy(@family_user).show?
  = link_to t('general.show'), family_family_user_path(@family, @family_user)
  \|
= link_to t('general.back'), family_path(@family)
