.page-header
  %h1= @family.name

%table.table.table-bordered.table-striped
  %tbody
    %tr
      %td= t('.logo')
      %td= family_logo_img(@family)
    %tr
      %td= t('.memebers_count')
      %td

- if policy(@family_user).update?
  = link_to t('.edit'), edit_family_family_user_path(@family, @family_user)
  \|
= link_to t('general.back'), family_path(@family)
