.page-header
  %h1= t('.title')

= render 'homeworks/homework'
= render 'user_homework_requests/form', url: user_homework_request_end_index_path(@user_homework)

= link_to t('general.back'), family_homeworks_path(@family)
