= simple_form_for(@user_homework,
  url: user_homework_request_answer_index_path(@user_homework),
  html: { class: 'user-homework-request-answers-form' },
  method: :post) do |f|

  .form-group
    = radio_button_tag :answer, 'estimate'
    = label_tag :answer_estimate, t('.new_estimate')
    .estimate-container
      .input-group.estimate-datetimepicker
        = f.input :estimate, as: :string, label: false, wrapper: false, required: true
        %span.input-group-addon
          %span.glyphicon.glyphicon-calendar
  .form-group
    = radio_button_tag :answer, 'move_to_opened'
    = label_tag :answer_move_to_opened, t('.move_to_opened')
  .form-group
    = radio_button_tag :answer, 'reject'
    = label_tag :answer_reject, t('.reject')
  .form-group
    = f.label :comment, t('.comment'), required: true, for: :comment
    = text_area_tag :comment, nil,
      placeholder: t('.comment'),
      class: 'form-control text',
      requited: true
  .form-group
    = f.submit
