.control-label.required abbr {
  color: red;
  text-decoration: none;
}
.avatar-or-logo {
  width: 80px;
  height: 80px;
}
nav {
  .avatar img {
    width: 50px;
    height: 50px;
  }
  .dropdown {
    color: gray;
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    font-size: 20px;
    padding: 0 5px;
  }
}
.estimate-container {
  display: none;
}
