.comment-container {
  padding: 10px;
  width: 100%;

  .comments-list {
    margin-left: 100px;
  }

  .comments-author-avatar, .comments-content, .comment-buttons, .comment-reply-button {
    display: inline-block;
  }
  .comments-content {
    width: calc(100% - 100px);
  }
  .comments-author-avatar {
    width: 80px;
    height: 80px;
  }
  .comments-author-name {
    padding: 0 20px;
  }
  .comments-body {
    padding: 10px;
  }
  .comment-buttons {
    float: right;
  }

  .reply-form-container {
    display: none;
    width: calc(100% - 100px);
    margin-left: 100px;
    .buttons {
      text-align: right;
    }
  }
}
