.family-blackboard {
  overflow: auto;
  white-space: nowrap;
  width: auto;
  padding-bottom: 20px;
  li {
    user-select: none;
  }
  ul {
    list-style-type: none;
  }
  .homeworks-list-container {
    border: 1px solid;
    display: inline-block;
    padding: 10px;
    min-width: 100px;
    & > ul {
      padding-left: 0;
      ul {
        padding-left: 10px;
      }
    }
  }
  .dropdown ul{
    z-index: 1;
  }
  .family-blackboard-item {
    display: inline-block;
    vertical-align: top;
    min-width: 100px;
  }
  .homework-item {
    display: inline-block;
    margin: 0;
    &[draggable=true] {
      cursor: move;
    }
    img {
      width: 25px;
      height: 25px;
    }
  }
  .family-members-list {
    display: none;
    padding: 0;
    margin: 0;
    li {
      padding: 10px 0;
      img {
        width: 30px;
        height: 30px;
      }
    }
  }
}
