= simple_form_for([@family, @category]) do |f|
  - if options_for_category_id(@family, filter_by_depth: true).any?
    .form-group
      = f.input :parent_id,
        as: :select,
        include_blank: true,
        collection: options_for_category_id(@family, filter_by_depth: true)
  .form-group
    = f.input :name
  .form-group
    = f.input :scope,
      as: :select,
      include_blank: false,
      collection: options_for_categories_scope
  .form-group
    = f.submit
