- if categories
  %ul.categories-container
    - categories.each do |category|
      %li.category-item
        = category.name
        - if policy(@family).create_category?
          %span.dropdown
            %span.btn.btn-default.btn-xs.dropdown-toggle{id: "category-menu-#{category.id}",'aria-expanded': true, 'aria-haspopup': true, 'data-toggle': :dropdown, type: :button}
              .glyphicon.glyphicon-cog
            %ul.dropdown-menu{'aria-labelledby': "category-menu-#{category.id}"}
              - if policy(@family).create_category? && policy(category).create_subcategory?
                %li= link_to t('.new_subcategory'),
                  new_family_category_path(@family, category_id: category.id)
              - if policy(category).edit?
                %li= link_to t('general.edit'),
                  edit_family_category_path(@family, category)
              - if policy(category).destroy?
                %li= link_to t('general.delete'),
                  family_category_path(@family, category),
                  method: :delete, 'data-confirm': t('general.confirm')
              - if policy(@family).create_homework?
                %li= link_to t('.new_homework'),
                  new_family_homework_path(@family, category_id: category.id)

        = render 'homeworks/list', homeworks: @homeworks[state].try(:[], category.id)
        = render 'categories/list', categories: category.children, state: state
