= simple_form_for(@user_homework,
  url: user_homework_estimate_decision_path(@user_homework, comment_id: @comment.id),
  method: :post) do |f|
  .form-group
    = radio_button_tag :aproved, 'yes', true
    = label_tag :aproved_yes, t('.aprove')
    %br
    = radio_button_tag :aproved, 'no'
    = label_tag :aproved_no, t('.reject')
  .form-group
    = hidden_field_tag 'comment_id', @comment.id
    = f.label :comment, required: true, for: 'comment'
    = text_area_tag 'comment', nil,
      placeholder: t('.comment'),
      class: 'form-control text',
      requited: true
  .form-group
    = f.submit
