= simple_form_for(@user_homework, url: user_homework_estimates_path(@user_homework), method: :post) do |f|
  .form-group
    = f.label :estimate, required: true
    .input-group.estimate-datetimepicker
      = f.input :estimate, as: :string, label: false, wrapper: false, required: true
      %span.input-group-addon
        %span.glyphicon.glyphicon-calendar
  .form-group
    = f.label :comment, required: true, for: :comment
    = text_area_tag :comment, nil,
      placeholder: t('.comment'),
      class: 'form-control text',
      requited: true
  .form-group
    = f.submit
