%nav.navbar.navbar-toggleable-md.navbar-inverse.bg-inverse.fixed-top
  .container-fluid
    .navbar-header
      = link_to t('general.site_name'), root_path, class: 'navbar-brand'
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        - if current_user.nil?
          %li
            = link_to t('.login'), new_user_session_path
        - else
          %li.avatar
            = users_avatar_img(current_user)
          %li.dropdown
            .menu-icon.dropdown-toggle{'aria-expanded': false, 'aria-haspopup': true, 'data-toggle': :dropdown, type: :button}
              .glyphicon.glyphicon-th-list
            %ul.dropdown-menu
              %li
                = link_to t('header.menu.homeworks'), user_homeworks_path
              %li
                = link_to t('header.menu.settings'), edit_user_registration_path
              %li.divider{role: :separator}
              %li
                = link_to t('header.menu.logout'), destroy_user_session_path
