%meta{'http-equiv': 'Content-Type', content: 'text/html; charset=utf-8'}
%title= content_for?(:title) ? yield(:title) : t('general.site_name')
= csrf_meta_tags
= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
